*.py diff
*.pyi diff

*.js diff

*.bat diff

*.toml diff
*.yml diff

*.txt diff
*.md diff
*.ini diff

Dockerfile diff

*.png filter=lfs diff=lfs merge=lfs -text
*.xcf filter=lfs diff=lfs merge=lfs -text
