# Runtime data
data/

# Dependencies
node_modules/

# Build
dist/
build/
out/

# Logs
logs
*.log
npm-debug.log*

# Tests
coverage/

# Environment
.env
.env.*
!.env.example

# Editor directories and files
.idea
.vscode/*
# ... but include these files
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# Cache
.eslintcache
.prettier-cache
.qodo
