# Runtime
pytz >= 2021.3
feedgen >= 0.9
selenium >= 4.1
chromedriver-autoinstaller >= 0.3.1
igdb-api-v4 >= 0.0.5
python-telegram-bot >= 13.11
sqlalchemy >= 1.4.0
alembic >= 1.7.7
humanize >= 4.0.0
xvfbwrapper >= 0.2.9
unidecode >= 1.3.4