# Runtime
alembic >= 1.8.1
chromedriver-autoinstaller >= 0.4.0
feedgen >= 0.9.0
humanize >= 4.2.3
igdb-api-v4 >= 0.0.5
python-telegram-bot >= 13.13
pytz >= 2022.1
selenium >= 4.3.0
sqlalchemy >= 1.4.39
unidecode >= 1.3.4
xvfbwrapper >= 0.2.9
discord.py >= 2.1.0