This release contains the following commit types: {% for type_ in release["elements"] | dictsort %}{{ type_[0] }}{% if not loop.last %}, {% endif %}{% endfor %}
{% for type_, commits in release["elements"] | dictsort %}
{% if (type_ != "unknown") %}
## {{ type_ | capitalize }}
{% for commit in commits %}
* {{ commit.descriptions[0] | capitalize }} by {{commit.commit.author.name}} in [`{{ commit.short_hash }}`]({{ commit.hexsha | commit_hash_url }})
{% endfor %}
{% endif %}
{% endfor %}